/* Thomas is dik */

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

nav {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

header {
  width: 100%;
  height: 125px;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
}

header img {
  height: 125%;
  width: auto;
  margin-top: -30px;
}

nav {
  width: 100%;
  margin: 0 auto;
  top: 0;
  height: 70px;
  background-color: rgb(98, 0, 155);
  position: sticky;
}

nav ul {
  margin: 0 auto;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  float: left;
  text-align: center;
  padding-top: 20px;
  top: 0;
  background-color: rgb(98, 0, 155);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  height: 50px;
  width: 130px;
  border-right: 5px solid rgb(70, 0, 110);
  transition: background-color .3s;
  text-decoration: none;
}

.rightAlignment {
  float: right;
  border-right: none;
  border-left: 5px solid rgb(70, 0, 110);
}

nav ul li:hover {
  background-color: rgb(118, 0, 187);
  cursor: pointer;
}
#formDonations {
  background-color: darkcyan;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 0px black;
}

main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
}
.top {
  display: flex;
}
.text1 {
  width: 45%;
  margin-left: 0%;
  height: 400px;
  background-color: rgba(144, 45, 237, 0.2);
  padding: 10px;
  border-radius: 10px;
}
.img1 {
  width: 45%;
  margin-left: 5%;
  margin-top: 4%;
}
.bottom {
  display: flex;
  margin-top: 3%;
}
.text2 {
  width: 45%;
  margin-left: 6%;
  height: 400px;
  background-color: rgba(144, 45, 237, 0.2);
  padding: 10px;
  border-radius: 10px;
}
.img2 {
  width: 45%;
  margin-left: 1%;
  margin-top: 8%;
}
.img {
  height: 90%;
  width: 100%;
}
footer {
  width: 100vw;
  height: 14%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 3%;
  float: right;
  display: flex;
  text-align: center;
  padding-bottom: 4%;
}
.footertext {
  padding: 1%;
  margin-left: 10%;
  text-align: center;
  color: grey;
  margin-top: 1%;
}
h3 {
  color: #ffffff;
}
.footerend {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  float: right;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}
.nav_links2 {
  list-style: none;
  font-size: 13px;
  text-decoration: none;
}
.nav_links2 li {
  display: inline-block;
  padding: 0 20px;
  font-size: 13px;
}
.nav_links2 li a {
  transition: all 0.3s ease 0s;
  font-size: 13px;
  text-decoration: none;
  color: #2e2e2e;
}
.nav_links2 li a:hover {
  cursor: pointer;
}
.nav_rechts {
  font-size: 13px;
}
.nav_rechts:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.nav_rechts2 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-decoration: none;
  color: #2e2e2e;
}
@media only screen and (max-width: 960px) {
  footer {
    font-size: 16px;
    padding-bottom: 4%;
  }
  .footertext {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
  }
  .nav_rechts a {
    font-size: 14px;
  }
  .footerendtext li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 786px) {
  footer {
    font-size: 13px;
    padding-bottom: 4%;
  }
  .footertext {
      font-size: 13px;
  }
  h3 {
      font-size: 13px;
  }
  .nav_rechts a {
      font-size: 11px;
  }
  .footerendtext li a {
      font-size: 11px;
  }
}
@media only screen and (max-width: 550px) {
  .top {
    display: contents;
  }
  .bottom {
    display: contents;
  }
  .text1 {
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    height: 400px;
  }
  .img1 {
    width: 90%;
    margin-left: 7%;
    margin-top: 4%;
  }
  .text2 {
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    height: 400px;
  }
  .img2 {
    width: 90%;
    margin-left: 7%;
    margin-top: 4%;
  }
  nav ul {
    display: none;
  }
  footer {
    font-size: 10px;
    padding-bottom: 4%;
}
.footertext {
    font-size: 10px;
}
h3 {
    font-size: 13px;
}
.nav_rechts a {
    font-size: 11px;
}
.footerendtext li a {
    font-size: 11px;
}
}
@media only screen and (max-width: 380px) {
  footer {
    font-size: 7px;
    padding-bottom: 4%;
  }
  .footertext {
      font-size: 7px;
  }
  h3 {
      font-size: 9px;
  }
  .nav_rechts a {
      font-size: 9px;
  }
  .footerendtext li a {
      font-size: 9px;
  }
}
@media screen and (max-width: 560px) {
  nav {
    width: 130px;
    height: 100%;
    float: left;
  }

  nav ul li {
    border-bottom: 3px solid rgb(70, 0, 110);
  }

  #formDonations {
    margin-top: 10px;
    margin-left: 40%;
  }

  .rightAlignment {
    border-left: none;
    border-right: 5px solid rgb(70, 0, 110);
    border-bottom: 5px solid rgb(70, 0, 110);
  }
}